package initialize

import (
	_ "github.com/mbobakov/grpc-consul-resolver" // It's important
)

func InitSrvConn() {
	/*

		拨号案例

	*/

	//consulInfo := global.ServerConfig.ConsulInfo
	//userConn, err := grpc.Dial(
	//	fmt.Sprintf("consul://%s:%d/%s?wait=14s", consulInfo.Host, consulInfo.Port, global.ServerConfig.UserSrvInfo.Name),
	//	grpc.WithInsecure(),
	//	grpc.WithDefaultServiceConfig(`{"loadBalancingPolicy": "round_robin"}`),
	//	//grpc.WithUnaryInterceptor(otgrpc.OpenTracingClientInterceptor(opentracing.GlobalTracer())),
	//)
	//if err != nil {
	//	zap.S().Fatal("[InitSrvConn] 连接 【用户服务失败】")
	//}
	//
	//global.GoodsSrvClient = proto.NewGoodsClient(userConn)
}
